/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.contour {
  fill: var(--contour-color);
}

.core {
  fill: none;
  transition: fill 0.3s;
}

.sparks {
  opacity: 0;
  fill: var(--animation-fill-color);
}

.like-icon .core {
  transition: fill 0.3s ease;
  fill: transparent;
}

.like-icon .main-body {
  transition: fill 0.3s ease 0s;
  fill: transparent;
}

.card__icon-button:hover .core {
  transition-delay: 0s;
  fill: currentColor;
}

.card__icon-button:hover .main-body {
  transition-delay: 0.05s;
  fill: currentColor;
}

.card__icon-button:not(:hover) .core {
  transition-delay: 0.03s;
  fill: transparent;
}

.card__icon-button:not(:hover) .main-body {
  transition-delay: 0s;
  fill: transparent;
}

.card__icon-button:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s;
  transition-delay: 0s;
}

.card__icon-button:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
}

.like-icon:not(.is-liked) .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .sparks {
  animation: sparks-burst 0.3s ease-in 0.3s forwards;
}

.like-icon.is-liked .heart {
  animation: scale-heart 0.3s ease-in 0.1s forwards;
}

@keyframes scale-heart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sparks-burst {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
